{% extends "base.html" %}

{% block content %}

  <h2>Infos</h2>
    <p> <span id="estilo2">Lorem ipsum dolor sit amet</span> consectetur adipisicing elit. Distinctio esse eligendi adipisci illum perspiciatis aperiam repudiandae quis repellat dolorem dolorum corporis, quam numquam accusamus delectus quasi! Atque, cum veniam? Nam!</p>



    <h2>Contactos</h2>
    <p><span  class="estilo1">Lorem ipsum dolor sit amet </span>  adipisicing elit. Distinctio esse eligendi adipisci illum perspiciatis aperiam repudiandae quis repellat dolorem dolorum corporis, quam numquam accusamus delectus quasi! Atque, cum veniam? Nam!</p>

    <h2>Links</h2>
    <p><span id="estilo2" class="estilo1 estilo3">Lorem ipsum dolor sit amet </span>  adipisicing elit. Distinctio esse eligendi adipisci illum perspiciatis aperiam repudiandae quis repellat dolorem dolorum corporis, quam numquam accusamus delectus quasi! Atque, cum veniam? Nam!</p>


{% endblock %}